[submodule "wb-vandalism"]
	path = submodules/wb-vandalism
	url = https://github.com/wiki-ai/wb-vandalism
[submodule "submodules/wikiclass"]
	path = submodules/wikiclass
	url = https://gerrit.wikimedia.org/r/mediawiki/services/ores/wikiclass.git
[submodule "submodules/editquality"]
	path = submodules/editquality
	url = https://gerrit.wikimedia.org/r/mediawiki/services/ores/editquality.git
[submodule "submodules/wheels"]
	path = submodules/wheels
	url = https://gerrit.wikimedia.org/r/research/ores/wheels.git
[submodule "submodules/ores"]
	path = submodules/ores
	url = https://gerrit.wikimedia.org/r/mediawiki/services/ores.git
