[submodule "submodules/wheels"]
	path = submodules/wheels
	url = https://phabricator.wikimedia.org/source/ores-deploy-wheels.git
[submodule "submodules/ores"]
	path = submodules/ores
	url = https://phabricator.wikimedia.org/source/ores.git
[submodule "submodules/editquality"]
	path = submodules/editquality
	url = https://phabricator.wikimedia.org/source/editquality.git
[submodule "submodules/wikiclass"]
	path = submodules/wikiclass
	url = https://phabricator.wikimedia.org/source/wikiclass.git

[submodule "submodules/draftquality"]
	path = submodules/draftquality
	url = https://phabricator.wikimedia.org/source/draftquality.git
