amqp==2.6.1
attrs==21.4.0
billiard==3.5.0.5
celery==4.1.1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
deep-merge==0.0.4
deltas==0.7.0
docopt==0.6.2
docutils==0.18.1
flashtext==2.7
Flask==1.0.4
Flask-Jsonpify==1.5.0
flask-swaggerui==0.0.1
flask-wikimediaui==0.0.1
gensim==3.8.3
hanziconv==0.3.2
idna==2.10
importlib-metadata==2.1.3
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
jsonable==0.3.1
jsonschema==3.2.0
kombu==4.6.11
langdetect==1.0.9
MarkupSafe==1.1.1
mediawiki-utilities==0.4.18
mmh3==2.5.1
more-itertools==7.2.0
mwapi==0.5.1
mwbase==0.1.5
mwcli==0.0.3
mwparserfromhell==0.6.3
mwreverts==0.1.5
mwtypes==0.3.2
mwxml==0.3.3
mysqltsv==0.0.7
nltk==3.5
numpy==1.18.5
para==0.0.5
pyenchant==1.6.11
PyMySQL==0.10.1
pyrsistent==0.17.3
pytz==2021.3
PyYAML==4.2b4
redis==3.5.3
regex==2022.1.18
requests==2.25.1
revscoring==2.11.1
scikit-learn==0.22.1
scipy==1.2.3
six==1.16.0
smart-open==3.0.0
sseclient==0.0.27
statistics==1.0.3.5
statsd==3.2.2
stopit==1.1.2
tabulate==0.8.9
tqdm==4.15.0
urllib3==1.26.8
vine==1.3.0
Werkzeug==0.16.1
yamlconf==0.2.4
zipp==1.2.0
