[global]
git_repo: ores/deploy
git_deploy_dir: /srv/deployment
ssh_user: deploy-service
git_submodules: True
git_fat: False
service_name: uwsgi-ores
service_port: 8081
batch_size: 80
restart_service_batch_size: 1
max_failures: 1
fetch_batch_size: 3
# Will be deprecated in the next scap release.
keyholder_key: deploy_service

[wmnet]
cache_revs: 3
server_groups: canary, default
dsh_targets: ores
canary_dsh_targets: ores-canary

[wmflabs]
cache_revs: 1
dsh_targets: ores-beta
